:root {
  --accent: #37a9ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}


.app-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.topnav {
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: right;
  padding-left: 10px;
  align-items: center;
  height: flex;
}
