.desktop-page {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 0.4rem;
}

.desktop-container {
  aspect-ratio: 16 / 9;
  height: 100%;
  max-width: calc(100vh * 16 / 9);
  background-image: url('../assets/background-image.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border: 5px solid black;
  border-radius: 5px;
  margin: 5px;
}

.react-grid-placeholder {
  background: transparent !important;
}

/* Prevent grid from stealing pointer events */
.desktop-container .layout .react-grid-item {
    pointer-events: none !important;
}

/* But allow pointer events on the app icon itself */
.desktop-container .layout .react-grid-item > * {
    pointer-events: auto !important;
}