.file-explorer {
    overflow: auto;
    position: relative;
    height: 100%;
}

.file-explorer-unresponsive{
    overflow: hidden;
    height: 100%;
    position: relative;
}

/* Right-click menu */
.wx-menu.wx-XMmAGqVx {
    z-index: 1000 !important;
}