.start-button {
	margin-left: 1vh;
	cursor: pointer;
	padding: 0.5rem;
	background-color: transparent;
	border: none;
}

.start-button-icon {
	width: auto;
	height: calc(min(80vw, calc(100vh * 16 / 9)) * 0.025); /* Based on 2.5% of desktop size */
}

.start-menu-overlay {
	position: absolute;
	inset: 0;
	background: transparent;
	z-index: 998;
}

.start-menu {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -65%);

	display: flex;
	flex-direction: column; 
	justify-content: space-between;

	width: 40rem;
	height: 30rem;

    background: rgba(40, 40, 40, 0.85);
	backdrop-filter: blur(20px);
	border-radius: 12px;
	opacity: 0;
	pointer-events: none;
	z-index: 999;
}

.start-menu.open {
	opacity: 1;
	pointer-events: auto;
}

.start-menu.open .app-icon {
	pointer-events: auto !important;
} 

.start-app-grid {
	width: 100%;
	height: 100%;
	padding: 1rem;
	padding-top: 0rem;
	margin: 0;
	box-sizing: border-box;
}

.start-app-grid.hidden {
	visibility: hidden;
}

.start-app-grid.ready {
	visibility: visible;
}

.react-grid-item.no-transition {
	transition: none !important;
	transform: none !important;
}

/* Disable ALL RGL animations */
.react-grid-item {
	transition: none !important;
}

.start-empty {
	padding: 16px;
	background: rgba(40, 40, 40, 0.85);
	backdrop-filter: blur(20px);
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.start-menu-bottom {
	background: rgba(22, 22, 22, 0.85);
	backdrop-filter: blur(20px);
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
}

.user-profile-button {
	background: rgba(255, 255, 255, 0.1);
	padding: .25rem;
	border-radius: .25rem;
	color: white;
	cursor: pointer;
}

.user-profile-button:active {
	background-color: gray;
	background: rgba(255, 255, 255, 0.2);
}

.power-button {
	background: rgba(255, 255, 255, 0.1);
	padding: .25rem;
	border-radius: .25rem;
	color: white;
	cursor: pointer;
}

.power-button:active {
  	background-color: gray;
	background: rgba(255, 255, 255, 0.2);
}