
* {
  margin: 0;
  padding: 0;
}

.desktop-container {
  aspect-ratio: 16 / 9;
  height: 90vh;
  background-image: url('./assets/background-image.jpg');
  background-size: contain;
}

.desktop-container .navbar {
  text-align: center;
  background-color: #97c5d5;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
}

.icon-group{
  display: flex;
}

.desktop-icon-styling {
  height: 10vh;
}
